<% provide(:title, "Edit user") %>
<% provide(:btn_text, "Save Changes") %>
<% provide(:url, user_path(@user)) %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <%= link_to "Change", "https://gravatar.com/emails", target: "_blank", 
                            rel: "nofollow" %>
    </div>
  </div>
</div>